# Copy this file to .env and update the values
# cp env.example .env

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/starter?schema=public"

# Server
PORT=3000
NODE_ENV=development

